.modalBackground {
  width: 100vw;
  height: 100vh;
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  left: 0px; 
  top: 0px;
  color: black;
  z-index: 100;
}

.modalContainer {
  colro: white;
  width: 80%;
  height: 80%;
  overflow:scroll;
  border-radius: 12px;
  /* background-color: rgb(22,27, 34); */

  background-color: rgb(247 247 247);
  
  display: flex;
  flex-direction: column;
  padding: 25px;
}

.modalContainer .title {
  display: inline-block;
  /* color: black; */
  margin-top: 5px;
  padding-bottom: 5px;
  border-bottom: 1px solid black;
}

.titleCloseBtn {
  display: flex;
  justify-content: flex-end;
  /* color: white; */
}

.titleCloseBtn button {
  background-color: transparent;
  border: none;
  font-size: 25px;
  cursor: pointer;
}
.modalContainer .body-parent{
  padding: 10px 0px;
  border-bottom: 1px solid black;
}
.modalContainer .body {
  flex: 50%;
  display: flex;
  /* color: white; */
  padding: 10px;
  border-radius: 5px;
  background-color: rgb(233 236 239);

  height: 100%;
}

.modalContainer .footer {
  flex: 20%;
  /* color: white; */

}
.modalContainer .footer pre{
  padding: 2px;
  border-radius: 5px;
  background-color: rgb(233 236 239);

}
